@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-primary  text-white;
  }
  header {
    @apply bg-primary-intro_emailBg h-full min-h-screen flex flex-col;
  }
  main {
    @apply bg-primary-mainBg;
  }
  /* nav */
  nav {
    @apply flex justify-between  items-center p-6 sm:px-8 lg:p-8 lg:px-10;
  }
  nav img {
    @apply w-24 sm:w-32;
  }
  nav ul {
    @apply flex;
  }
  nav ul li {
    @apply ml-5 md:ml-7 text-sm sm:text-base font-secondary opacity-95 tracking-wide hover:opacity-100 transition-all;
  }

  /* landing */
  section.landing {
    @apply bg-landingSmallBg bg-no-repeat bg-contain bg-bottom h-full flex-grow flex flex-col justify-center md:bg-landingBigBg items-center text-center px-6 sm:px-16 md:px-36 lg:px-[15rem] xl:px-[16rem];

    background-size: 125% 28rem;
  }
  section.landing img {
    @apply sm:mt-4;
  }
  section.landing h1 {
    @apply text-2xl;
    line-height: 2.25rem;
    @apply text-2xl font-bold font-secondary my-6 md:text-3xl lg:text-4xl xl:text-5xl;
  }
  section.landing p {
    @apply mb-6 opacity-90 text-sm tracking-wide md:text-base xl:text-lg;
    line-height: 1.5rem;
  }
  section.landing a,
  .early-access > div form input[type="submit"] {
    @apply bg-gradient-to-r from-accent-cyan to-accent-blue rounded-3xl px-20 py-3 w-fit lg:text-lg;
  }
  @media (min-width: 1440px) {
    section.landing {
      @apply px-[22rem];
    }
  }

  /* Features */
  .Features {
    @apply grid gap-20 py-14 px-6 sm:px-16 lg:px-36 xl:px-[16rem];
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .Features .feature {
    @apply flex flex-col justify-center items-center text-center;
  }
  .Features .feature img {
    @apply mb-6;
  }
  .Features .feature h3 {
    @apply font-bold font-secondary text-xl my-4;
  }
  .Features .feature p {
    @apply opacity-90;
  }
  /* section */
  main section:nth-child(2) {
    @apply p-6  sm:px-10 md:px-10 xl:px-16 flex flex-col items-center lg:flex-row;
  }
  main section:nth-child(2) > img {
    @apply lg:w-[30rem] xl:w-[38rem] mr-8;
  }
  main section:nth-child(2) .text {
    @apply md:px-16;
  }
  main section:nth-child(2) h2 {
    @apply font-bold font-secondary my-6 text-lg sm:text-2xl mt-12 tracking-wide xl:text-4xl;
  }
  main section:nth-child(2) p {
    @apply opacity-90 text-sm tracking-wide xl:text-base;
  }
  main section:nth-child(2) a {
    @apply flex opacity-90 text-accent-cyan text-sm items-center mt-6 border border-transparent hover:border-b-accent-cyan py-2 w-fit transition-all xl:text-base;
  }
  main section:nth-child(2) a img {
    @apply ml-2 h-fit;
  }
  @media (min-width: 1440px) {
    main section:nth-child(2) {
      @apply px-20;
    }
    main section:nth-child(2) .text {
      @apply px-20;
    }
    main section:nth-child(2) h2 {
      @apply text-5xl;
    }
  }
  /* testimonials */
  .testimonials {
    @apply p-6 sm:px-10 md:px-10 xl:px-16 relative;
  }
  .testimonials .testimonials-container {
    @apply grid gap-x-8;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .testimonials > img {
    @apply w-6 relative top-[0.25rem] left-4 md:left-[-0.25rem] md:top-[0.5rem] md:w-8 lg:top-[0.75rem] lg:left-[-0.5rem] lg:w-12;
  }
  .testimonials .assessment {
    @apply bg-primary-testimonialsBG p-7 mb-8 rounded-md tracking-wide z-10;
  }
  .testimonials .assessment .profile {
    @apply flex mt-6;
  }
  .testimonials .assessment p {
    @apply text-sm opacity-[0.85] xl:text-base;
  }
  .testimonials .assessment .profile img {
    @apply mr-4 rounded-full w-10 xl:w-12;
  }
  .testimonials .assessment .profile div {
    @apply flex flex-col;
  }
  .testimonials .assessment h4 {
    @apply font-secondary mb-[1px] xl:text-lg tracking-wider;
  }
  .testimonials .assessment h6 {
    @apply text-xs opacity-[0.85] xl:text-sm;
  }
  @media (min-width: 1440px) {
    .testimonials {
      @apply px-20;
    }
  }
  /* early-access */
  .early-access {
    @apply p-6 sm:px-10 md:px-10 lg:px-24 xl:px-48 flex justify-center items-center;
    background: linear-gradient(
      180deg,
      hsl(218, 28%, 13%) 50%,
      hsl(216, 53%, 9%) 50%
    );
  }
  @media (min-width: 1440px) {
    .early-access {
      @apply px-56;
    }
  }
  .early-access > div {
    @apply flex flex-col items-center bg-primary-intro_emailBg rounded-lg p-8 text-center lg:p-16 xl:px-16;
  }
  .early-access > div h2 {
    @apply font-secondary text-2xl lg:text-3xl xl:text-4xl;
  }
  .early-access > div p {
    @apply opacity-90 text-sm tracking-wider my-6 xl:text-base lg:my-8;
  }
  .early-access > div form {
    @apply md:flex w-full;
  }
  .early-access > div form div {
    @apply mb-6 md:mb-0 flex flex-col md:mr-6 w-full items-center;
  }
  .early-access > div form input[type="email"] {
    @apply rounded-3xl px-[4.25rem] py-3 w-fit lg:text-lg text-sm text-black focus:outline-none  md:w-full md:pl-8;
  }
  .early-access > div form p.error {
    @apply hidden text-accent-error mb-0 mt-2 ml-2 text-left;
  }
  .early-access > div form input[type="submit"] {
    @apply md:px-8 lg:px-12 h-fit;
  }
  /* footer */
  footer {
    @apply bg-primary-footerBg p-6 sm:px-10 lg:py-10 xl:py-16 md:px-10 xl:px-16 xl:flex;
  }
  @media (min-width: 1440px) {
    footer {
      @apply px-20;
    }
  }
  footer ul,
  footer > div {
    @apply flex flex-col;
  }
  footer ul {
    @apply md:flex-row lg:flex-col;
  }
  /* end  */
  footer > div {
    @apply opacity-90 lg:flex-row lg:items-baseline lg:justify-center xl:justify-start;
  }
  footer .info {
    @apply basis-2/3 md:flex md:items-baseline;
  }
  footer .footer-links {
    @apply block lg:flex;
  }
  footer .contact-info {
    @apply md:basis-2/3 md:mb-4 md:ml-4;
  }
  footer .contact-links {
    @apply lg:mt-10;
  }
  footer ul li {
    @apply mb-3 md:ml-5;
  }
  footer > div > *,
  footer .contact-info p {
    @apply mb-2;
  }
  footer img.logo {
    @apply w-40 mb-8 md:w-48;
  }
  footer .info .logo + p {
    @apply mb-4 sm:mb-0;
  }
  footer > div > p img {
    @apply mr-6;
  }
  footer > div p {
    @apply flex;
  }
  footer > div p img {
    @apply mr-5 h-fit w-4;
  }
  footer ul.links {
    @apply my-6 mt-10 md:mb-0 xl:mr-4;
  }
  footer > div .contact-info p {
    @apply items-center;
  }
  footer .social-links {
    @apply flex flex-row justify-center mt-10 items-center xl:mt-0;
  }
  footer .social-links li {
    @apply rounded-full p-2 md:p-3 xl:p-4 border ml-3 md:ml-4 border-white hover:border-accent-cyan transition-all h-fit;
  }
  footer .social-links li img {
    @apply w-3 h-auto md:w-4 xl:w-8;
  }
  footer .social-links li img {
    filter: invert(83%) sepia(100%) saturate(2%) hue-rotate(17deg)
      brightness(107%) contrast(101%);
  }
  footer .social-links li:hover img {
    filter: invert(95%) sepia(49%) saturate(2191%) hue-rotate(150deg)
      brightness(94%) contrast(86%);
  }
  section,
  main,
  footer {
    border: none;
  }
}
